body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: linear-gradient(to bottom, #f4a967, #e7b386, #fab981);
}

.main {
    width: 350px;
    height: 500px;
    background: red;
    overflow: hidden;
    background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/cover;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #7f3e05;
}

input{
    width: 60%;
    height: 20px;
    background: #eee;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: block;
}
select{
    width: 60%;
    height: 40px;
    background: #eee;
    margin: 10px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: block;
}

button {
    width: 60%;
    height: 40px;
    margin: 20px auto;
    color: #fff;
    background: #f47b12;
    font-size: 1em;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in;
}

button:hover {
    background: #f3af04;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
label{
	color: #fff;
	font-size: 2.1em;
	justify-content: center;
	display: flex;
	margin: 30px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
p {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    font-family: Arial, sans-serif;
}